server:
  port: 8081


spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false


  servlet:
    multipart:
      enabled: true
      max-file-size: 2MB
      max-request-size: 5MB


okta:
  oauth2:
    issuer: https://dev-whcz4g0gwv3v4vle.eu.auth0.com/
    audience: https://clothery-app

cloudinary:
  cloud-name: dkkusesqq
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}

stripe:
  api:
    key: ${STRIPE_API_KEY}

  webhook:
    secret: ${STRIPE_WEBHOOK_SECRET}

currency: EUR

frontend:
  url: ${FRONTEND_URL}